
<!DOCTYPE html>
<html lang="vi" prefix="og: http://ogp.me/ns#" class="html_boxed responsive av-preloader-disabled av-default-lightbox  html_header_top html_logo_left html_main_nav_header html_menu_right html_custom html_header_sticky html_header_shrinking_disabled html_header_topbar_active html_mobile_menu_phone html_header_searchicon html_content_align_center html_header_unstick_top_disabled html_header_stretch html_av-overlay-side html_av-overlay-side-classic html_av-submenu-noclone html_entry_id_27 av-no-preview html_text_menu_active ">
<head>
    <!-- Bing -->
    <meta name="msvalidate.01" content="4BF6476463CDA10F716F88A7BA72903C" />
    <meta charset="UTF-8" />


    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Scripts/CSS and wp_head hook -->
    <title>Trang chủ - MNPOST</title>

    <!-- This site is optimized with the Yoast SEO Premium plugin v5.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="msvalidate.01" content="BAC054C7F13DA0CC2168975113050484" />
    <meta name="google-site-verification" content="ZiRIEg3XUEfbXoeAqVb3HcxSqGmaY7YL8Hf5vZZcxVU" />
    <meta name="yandex-verification" content="6de52c399bede9eb" />
    <!-- / Yoast SEO Premium plugin. -->

    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/ecotrans.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/popup.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate.styles-css' href='~/Content/encot/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-grid-css' href='~/Content/encot/css/grid.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-base-css' href='~/Content/encot/css/base.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-layout-css' href='~/Content/encot/css/layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-scs-css' href='~/Content/encot/css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-popup-css-css' href='~/Content/encot/css/magnific-popup.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-media-css' href='~/Content/encot/css/mediaelementplayer.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-print-css' href='~/Content/encot/css/print.css' type='text/css' media='print' />
    <link rel='stylesheet' id='avia-dynamic-css' href='~/Content/encot/css/enfold.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-custom-css' href='~/Content/encot/css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-codes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/animation.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-ie7-codes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-ie7.css' type='text/css' media='all' />
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    <script type='text/javascript' src='~/Content/encot/js/jquery-1.12.4.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/common.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/core.min.js'></script>
    @*<script type='text/javascript' src='~/Content/encot/js/popup.min.js'></script>*@
    <script type='text/javascript' src='~/Content/encot/js/avia-compat.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/mediaelement-migrate.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/", "classPrefix": "mejs-", "stretching": "responsive" };
        /* ]]> */
    </script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 962950888;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962950888/?guid=ON&amp;script=0" />
        </div>
    </noscript>
    <link rel="profile" href="https://gmpg.org/xfn/11" />

    <style type='text/css' media='screen'>
        #top #header_main > .container, #top #header_main > .container .main_menu .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link {
            height: 60px;
            line-height: 60px;
        }

        .html_top_nav_header .av-logo-container {
            height: 60px;
        }

        .html_header_top.html_header_sticky #top #wrap_all #main {
            padding-top: 90px;
        }
    </style>

    <!-- BEGIN ExactMetrics v5.3.5 Universal Analytics - https://exactmetrics.com/ -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-61914132-4', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- END ExactMetrics Universal Analytics -->
    <!--
    Debugging Info for Theme support:

    Theme: Enfold
    Version: 4.1
    Installed: enfold
    AviaFramework Version: 4.6
    AviaBuilder Version: 0.9.5
    ML:128-PU:36-PLA:11
    WP:4.9.8
    Updates: disabled
    -->
    <style type='text/css'>
        @@font-face {
            font-family: 'entypo-fontello';
            font-weight: normal;
            font-style: normal;
            src: url('../../Content/encot/fonts/entypo.eot?64115822');
            src: url('../../Content/encot/fonts/entypo.eot?64115822#iefix') format('embedded-opentype'), url('../../Content/encot/fonts/entypo.woff2?64115822') format('woff2'), url('../../Content/encot/fonts/entypo.woff?64115822') format('woff'), url('../../Content/encot/fonts/entypo.ttf?64115822') format('truetype'), url('../../Content/encot/fonts/entypo.svg?64115822#entypo') format('svg');
        }

        #top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before {
            font-family: 'entypo-fontello';
        }
    </style><!-- <meta name="google-site-verification" content="J4AUB4XDDm64hnmP1s-mfYfusJTW3BnSd5ld-6KN7TY" /> -->
    <meta name="google-site-verification" content="3R-jfcHoW60Uj0VyFdyHKY-hDMjMQ-ZfbsqHmijF5Kk" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106794518-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106794518-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1633418790283911');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1633418790283911&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

</head>




<body data-rsssl=1 id="top" class="home page-template-default page page-id-27 boxed arial-websave _arial " itemscope="itemscope" itemtype="https://schema.org/WebPage">


    <div id='wrap_all'>


        <header id='header' class='all_colors header_color light_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_custom av_header_sticky av_header_shrinking_disabled av_header_stretch av_mobile_menu_phone av_header_searchicon av_header_unstick_top_disabled av_bottom_nav_disabled  av_header_border_disabled' role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">

            <div id='header_meta' class='container_wrap container_wrap_meta  av_icon_active_right av_extra_header_active av_phone_active_right av_entry_id_27'>

                <div class='container'>
                    <ul class='noLightbox social_bookmarks icon_count_3'><li class='social_bookmarks_facebook av-social-link-facebook social_icon_1'><a target='_blank' href='#' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li><li class='social_bookmarks_skype av-social-link-skype social_icon_2'><a href='skype:ecotransvn?chat' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Skype'><span class='avia_hidden_link_text'>Skype</span></a></li><li class='social_bookmarks_mail av-social-link-mail social_icon_3'><a target='_blank' href='https://mail.google.com/mail/u/0/#inbox?compose=new' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Mail'><span class='avia_hidden_link_text'>Mail</span></a></li></ul><div class='phone-info '><span>Giờ làm việc: 8h-18h (T2 – T7) - Hotline: 1900.63.60.95</span></div>
                </div>
            </div>

            <div id='header_main' class='container_wrap container_wrap_logo'>

                <div class='container av-logo-container'>
                    <div class='inner-container'>
                        <span class='logo'><a href='/home/index'><img height='100' width='300' src='~/Content/img/mnpost.jpg' alt='Chuyển phát nhanh MNPOST' /></a></span><nav class='main_menu' data-selectname='Select a page' role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                            <div class="avia-menu av-main-nav-wrap">
                                <ul id="avia-menu" class="menu av-main-nav">
                                    <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-top-level menu-item-top-level-1"><a href="/home/index" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Trang chủ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-2"><a href="/aboutus/introduce" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Giới thiệu</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-3"><a href="/transport/service" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Dịch vụ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-4"><a href="/transport/recruitment" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Tuyển dụng</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-5"><a href="/post/postlist" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Tin tức</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-6"><a href="/aboutus/contact" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Liên hệ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-search" class="noMobile menu-item menu-item-search-dropdown menu-item-avia-special">
                                        <a href="?s=" data-avia-search-tooltip="&lt;form action=&quot;https://ecotrans.vn/&quot; id=&quot;searchform&quot; method=&quot;get&quot; class=&quot;&quot;&gt; &lt;div&gt;&lt;input type=&quot;submit&quot; value=&quot;&quot; id=&quot;searchsubmit&quot; class=&quot;button avia-font-entypo-fontello&quot; /&gt;&lt;input type=&quot;text&quot; id=&quot;s&quot; name=&quot;s&quot; value=&quot;&quot; placeholder='Search' /&gt; &lt;/div&gt; &lt;/form&gt;" aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'><span class="avia_hidden_link_text">Search</span></a>
                                    </li>
                                    <li class="av-burger-menu-main menu-item-avia-special ">
                                        <a href="#">
                                            <span class="av-hamburger av-hamburger--spin av-js-hamburger">
                                                <span class="av-hamburger-box">
                                                    <span class="av-hamburger-inner"></span>
                                                    <strong>Menu</strong>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- end container_wrap-->
            </div>


            <div class='header_bg'></div>

            <!-- end header -->
        </header>

        @RenderBody()

        <!-- end wrap_all -->
    </div>

    <!-- EchBay Phonering Alo --><link rel="stylesheet" href="~/Content/encot/css/style.css" type="text/css" /><!-- 1536751881 || Wed, 12 Sep 2018 11:31:21 +0000 || Wed, 12 Sep 2018 04:31:23 +0000 -->
    <style type="text/css">
        .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
            border-color: #0084ff
        }

        .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill, .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
            background-color: #0084ff
        }
        /*.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle a{color: #0084ff}*/

        .phonering-alo-ph-img-circle {
            width: 45px;
            height: 45px;
            top: 45px;
            left: 45px
        }

            .phonering-alo-ph-img-circle a {
                width: 45px;
                line-height: 45px
            }

        .phonering-alo-ph-circle-fill {
            width: 90px;
            height: 90px;
            top: 22.5px;
            left: 22.5px
        }

        .echbay-alo-phone, .phonering-alo-ph-circle {
            width: 135px;
            height: 135px
        }

        .style-for-position-cr, .style-for-position-cl {
            margin-top: -67.5px;
        }
        /* for mobile */

        @@media screen and (max-width:775px) {
            .style-for-position-bl {
                left: -45px;
                bottom: -45px
            }

            .style-for-position-br {
                right: -45px;
                bottom: -45px
            }

            .style-for-position-cl {
                left: -45px;
            }

            .style-for-position-cr {
                right: -45px;
            }

            .style-for-position-tl {
                top: -45px;
                left: -45px
            }

            .style-for-position-tr {
                top: -45px;
                right: -45px
            }
        }

        @@media screen and (max-width:775px) {
            .echbay-alo-phone {
                display: block
            }
        }
        /* Custom CSS */
    </style> <div class="echbay-alo-phone phonering-alo-phone phonering-alo-green style-for-position-cr"> <div class="phonering-alo-ph-circle"></div> <div class="phonering-alo-ph-circle-fill"></div> <div class="phonering-alo-ph-img-circle"><a href="tel:1900636095" class="">.</a></div> </div>
    <script type="text/javascript" src="~/Content/encot/js/js.js" async></script><!-- Using Echbay Phonering Alo in cache --><!-- END EchBay Phonering Alo -->


    <script type='text/javascript'>
        /* <![CDATA[ */
        var avia_framework_globals = avia_framework_globals || {};
        avia_framework_globals.gmap_api = 'AIzaSyCYbgYMUEsMiNlSqH6z0gTMTHZTW3bO64I';
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/encot/js/avia.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/shortcodes.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/wp-mediaelement.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var q2w3_sidebar_options = [{ "sidebar": "av_everywhere", "margin_top": 100, "margin_bottom": 100, "stop_id": "", "screen_max_width": 0, "screen_max_height": 0, "width_inherit": false, "refresh_interval": 1500, "window_load_hook": false, "disable_mo_api": false, "widgets": ["media_image-2"] }];
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/encot/js/q2w3-fixed-widget.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/wp-embed.min.js'></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61914132-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61914132-4');
    </script>
    <a href='#top' title='Scroll to top' id='scroll-top-link' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'><span class="avia_hidden_link_text">Scroll to top</span></a>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         page_id="543145252382062"
         theme_color="#ff7700"
         logged_in_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?"
         logged_out_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn?">
    </div>
    @*<script src="https://sp.zalo.me/plugins/sdk.js"></script>*@
</body>
</html>
