@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="vi" prefix="miennampost.vn" class="html_boxed responsive av-preloader-disabled av-default-lightbox  html_header_top html_logo_left html_main_nav_header html_menu_right html_custom html_header_sticky html_header_shrinking_disabled html_header_topbar_active html_mobile_menu_phone html_header_searchicon html_content_align_center html_header_unstick_top_disabled html_header_stretch html_av-overlay-side html_av-overlay-side-classic html_av-submenu-noclone html_entry_id_27 av-no-preview html_text_menu_active ">
<head>
    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Scripts/CSS and wp_head hook -->
    <title>Trang chủ - MNPOST</title>

   
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/popup.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate.styles-css' href='~/Content/encot/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-grid-css' href='~/Content/encot/css/grid.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-base-css' href='~/Content/encot/css/base.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-layout-css' href='~/Content/encot/css/layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-scs-css' href='~/Content/encot/css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-popup-css-css' href='~/Content/encot/css/magnific-popup.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-media-css' href='~/Content/encot/css/mediaelementplayer.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-print-css' href='~/Content/encot/css/print.css' type='text/css' media='print' />
    <link rel='stylesheet' id='avia-dynamic-css' href='~/Content/encot/css/enfold.css' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-custom-css' href='~/Content/encot/css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-codes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/animation.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-ie7-codes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/encot/css/entypo-ie7.css' type='text/css' media='all' />
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    <script type='text/javascript' src='~/Content/encot/js/jquery-1.12.4.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/common.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/core.min.js'></script>
    @*<script type='text/javascript' src='~/Content/encot/js/popup.min.js'></script>*@
    <script type='text/javascript' src='~/Content/encot/js/avia-compat.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/mediaelement-migrate.min.js'></script>
    

    <style type='text/css' media='screen'>
        #top #header_main > .container, #top #header_main > .container .main_menu .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link {
            height: 60px;
            line-height: 60px;
        }

        .html_top_nav_header .av-logo-container {
            height: 60px;
        }

        .html_header_top.html_header_sticky #top #wrap_all #main {
            padding-top: 90px;
        }
    </style>

</head>




<body data-rsssl=1 id="top" class="home page-template-default page page-id-27 boxed arial-websave _arial " itemscope="itemscope" itemtype="https://schema.org/WebPage">


    <div id='wrap_all'>
        @RenderBody()

        <footer class='container_wrap socket_color' id='socket' role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
            <div class='container'>
                <span class='copyright'>Công ty cổ phần bưu chính Miền Nam POST</span><br />
                <span class='copyright'>Trụ sở chính: 466/19 Nguyễn Tất Thành, Phường 18, Quận 4, Tp. Hồ Chí Minh</span><br />
                <span class='copyright'>SĐT: (028) 36.369.369.</span>
                <span class='copyright'> Hotline: 0906900888</span><br />
                <span class='copyright'>Email: cskh@miennampost.vn</span><br />
                <span class='copyright'>Bản quyền thuộc công ty cổ phần bưu chính Miền Nam POST</span>
            </div>

            <!-- ####### END SOCKET CONTAINER ####### -->
        </footer>
        <!-- end wrap_all -->
    </div>

    <!-- EchBay Phonering Alo --><link rel="stylesheet" href="~/Content/encot/css/style.css" type="text/css" /><!-- 1536751881 || Wed, 12 Sep 2018 11:31:21 +0000 || Wed, 12 Sep 2018 04:31:23 +0000 -->
    <style type="text/css">
        .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
            border-color: #0084ff
        }

        .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill, .phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
            background-color: #0084ff
        }
        /*.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle a{color: #0084ff}*/

        .phonering-alo-ph-img-circle {
            width: 45px;
            height: 45px;
            top: 45px;
            left: 45px
        }

            .phonering-alo-ph-img-circle a {
                width: 45px;
                line-height: 45px
            }

        .phonering-alo-ph-circle-fill {
            width: 90px;
            height: 90px;
            top: 22.5px;
            left: 22.5px
        }

        .echbay-alo-phone, .phonering-alo-ph-circle {
            width: 135px;
            height: 135px
        }

        .style-for-position-cr, .style-for-position-cl {
            margin-top: -67.5px;
        }
        /* for mobile */

        @@media screen and (max-width:775px) {
            .style-for-position-bl {
                left: -45px;
                bottom: -45px
            }

            .style-for-position-br {
                right: -45px;
                bottom: -45px
            }

            .style-for-position-cl {
                left: -45px;
            }

            .style-for-position-cr {
                right: -45px;
            }

            .style-for-position-tl {
                top: -45px;
                left: -45px
            }

            .style-for-position-tr {
                top: -45px;
                right: -45px
            }
        }

        @@media screen and (max-width:775px) {
            .echbay-alo-phone {
                display: block
            }
        }
        /* Custom CSS */
    </style> <div class="echbay-alo-phone phonering-alo-phone phonering-alo-green style-for-position-cr"> <div class="phonering-alo-ph-circle"></div> <div class="phonering-alo-ph-circle-fill"></div> <div class="phonering-alo-ph-img-circle"><a href="tel:1900636095" class="">.</a></div> </div>
    <script type="text/javascript" src="~/Content/encot/js/js.js" async></script><!-- Using Echbay Phonering Alo in cache --><!-- END EchBay Phonering Alo -->


    <script type='text/javascript' src='~/Content/encot/js/avia.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/shortcodes.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/jquery.magnific-popup.min.js'></script>
    <script type='text/javascript' src='~/Content/encot/js/wp-mediaelement.min.js'></script>

   
    <a href='#top' id='scroll-top-link'><span class="avia_hidden_link_text">Scroll to top</span></a>
</body>
</html>
