
@{
    ViewBag.Title = "Introduce";
}
@*<!-- Inner Header -->
    <section class="section-padding bg-dark inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white">Giới thiệu về MN POST</h1>
                    <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="/home/index">Trang chủ</a>  /  <span class="text-success">Giới thiệu</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Inner Header -->
    <!-- About -->
    <section class="section-padding bg-white">
        <div class="container">
            <div class="row">

                <div class="pl-4 col-lg-5 col-md-5 pr-4">
                    <img class="rounded img-fluid" src="/Content/img/icon/logo.jpg" alt="Card image cap">
                </div>
                <div class="col-lg-6 col-md-6 pl-5 pr-5">
                    <h2 class="mt-5 mb-5">Chúng tôi hân hạnh là lựa chọn<br> hàng đầu của bạn</h2>
                    <h5 class="mt-2">Quyền lợi của khách hàng</h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                    <h5 class="mt-4">Đáp ứng nhu cầu khách hàng</h5>
                    <p>When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About -->
    <!-- Trusted Agents -->
    <section class="section-padding">
        <div class="section-title text-center mb-5">
            <h2>Chúng tôi cung cấp những gì cho bạn?</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/number1.png" alt="">
                        <h5 class="mb-0 text-success">Khách hàng là ưu tiên hàng đầu</h5>
                        <p class="mb-4">Với tiêu chí phục vụ khách hàng một cách tốt nhất, đem lại sự hài lòng</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/staff.png" alt="">
                        <h5 class="mb-0 text-success">Đội ngũ nhân viên</h5>
                        <p class="mb-4">Với đội ngũ nhân viên hùng hậu luôn phục vụ với sự tận tình</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/vision.png" alt="">
                        <h5 class="mb-0 text-success">Tầm nhìn của chúng tôi</h5>
                        <p class="mb-4">Với mục tiêu trở thành một trong những dịch vụ giao hàng tốt nhất cả nước</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/fast.png" alt="">
                        <h5 class="mb-0 text-success">Đúng thời gian</h5>
                        <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/support.png" alt="">
                        <h5 class="mb-0 text-success">Hỗ trợ hết mình</h5>
                        <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="agents-card text-center">
                        <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                        <h5 class="mb-0 text-success">CHUYÊN NGHIỆP</h5>
                        <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Trusted Agents -->*@
<div id='main' class='all_colors' data-scroll-offset='60'>

    <div class='stretch_full container_wrap alternate_color light_bg_color title_container'><div class='container'><h1 class='main-title entry-title'><a href='https://ecotrans.vn/gioi-thieu-ve-cong-ty-ecotrans' rel='bookmark' title='Permanent Link: Giới thiệu' itemprop="headline">Giới thiệu</a></h1><div class="breadcrumb breadcrumbs avia-breadcrumbs"><div class="breadcrumb-trail" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="trail-before"><span class="breadcrumb-title"></span></span> <a href="https://ecotrans.vn" title="Chuyển phát nhanh Ecotrans" rel="home" class="trail-begin">Trang chủ</a> <span class="sep">/</span> <span class="trail-end">Giới thiệu</span></div></div></div></div>
    <div class='container_wrap container_wrap_first main_color sidebar_right'>

        <div class='container'>

            <main class='template-page content  av-content-small alpha units' role="main" itemprop="mainContentOfPage">


                <article class='post-entry post-entry-type-page post-entry-2' itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

                    <div class="entry-content-wrapper clearfix">
                        <header class="entry-content-header"></header><div class="entry-content" itemprop="text">
                            <div>Kính thưa quý khách hàng !</div>
                            <div></div>
                            <div>Công ty Ecotrans xin gửi tới Quý khách hàng lời chào trân trọng, lời chúc sức khỏe và thành đạt.</div>
                            <div></div>
                            <div>Công ty Ecotrans là đơn vị chuyên kinh doanh dịch vụ bưu chính như: Chuyển phát nhanh Bưu phẩm – Bưu kiện trong nước và quốc tế. Chúng tôi nhận chuyển phát nhanh tất cả các loại hàng hóa, tài liệu… không hạn chế về kích thước và trọng lượng. Dịch vụ chuyển phát nhanh Ecotrans đảm bảo giao hàng nhanh chóng, an toàn với chi phí dịch vụ thấp nhất.</div>
                            <div></div>
                            <div>Nhằm phục vụ khách hàng ngày càng tốt hơn, chuyển phát nhanh Ecotrans không ngừng hoàn thiện, mở rộng quy mô phục vụ và đa dạng hóa các loại hình dịch vụ. Hiện chúng tôi đã xây dựng được mạng lưới rộng khắp 63 tỉnh thành trong cả nước sẵn sàng đáp tốt nhất nhu cầu chuyển phát nhanh của quý khách hàng thông qua các loại hình dịch vụ như:</div>
                            <div></div>
                            <div>1.      Chuyển phát nhanh quốc tế.</div>
                            <div>2.      Chuyển phát nhanh trong ngày.</div>
                            <div>3.      Chuyển phát nhanh hẹn giờ</div>
                            <div>4.      Chuyển phát nhanh hỏa tốc</div>
                            <div>5.      Chuyển phát nhanh tiết kiệm.</div>
                            <div>6.      Vận chuyển hàng hóa bằng đường bộ và đường sắt.</div>
                            <div></div>
                            <div>Với đội nhân viên chuyên nghiệp, phục vụ tận tình, chu đáo chúng tôi đảm bảo việc nhận và chuyển hàng đến tận tay khách hàng trong thời gian sớm nhất.</div>
                            <div></div>
                            <div>Chuyển phát nhanh Ecotrans luôn đặt lợi ích của khách hàng lên hàng đầu và làm hài lòng tất cả các khách hàng dù là khó tính nhất, chúng tôi đảm bảo mang đến cho khách hàng dịch vụ chuyển phát nhanh trong nước và quốc tế tốt nhất.</div>
                            <div></div>
                            <div>Công ty Ecotrans ghi nhận và chân thành cảm ơn sự hợp tác, hỗ trợ của tất cả Quý khách hàng – Đối tác những người đã đặt niềm tin vào chuyển phát nhanh Ecotrans và cùng Công ty Ecotrans ngày càng phát triển.</div>
                            <div></div>
                            <div></div>
                            <p>Trân trọng kính chào.</p>
                        </div><footer class="entry-footer"></footer>
                    </div>

                </article><!--end post-entry-->
                <!--end content-->
            </main>

            <aside class='sidebar sidebar_right  alpha units' role="complementary" itemscope="itemscope" itemtype="https://schema.org/WPSideBar"><div class='inner_sidebar extralight-border'><section id="avia_fb_likebox-2" class="widget clearfix avia_fb_likebox"><div class='av_facebook_widget_wrap '><div class="fb-page" data-width="500" data-href="https://www.facebook.com/chuyenphatnhanhecotrans/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"></div></div></div><span class="seperator extralight-border"></span></section><section id="newsbox-5" class="widget clearfix newsbox"><h3 class="widgettitle">BÀI VIẾT MỚI</h3><ul class="news-wrap image_size_widget"><li class="news-content post-format-standard"><a class='news-link' title='Ecotrans Hà Nội &#8211; Tuyển Dụng' href='https://ecotrans.vn/tin-tuc/ecotrans-ha-noi-tuyen-dung.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Ecotrans Hà Nội &#8211; Tuyển Dụng<span class='news-time'>14/08/2018 - 10:28</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi hàng chuyển phát nhanh trên app' href='https://ecotrans.vn/tin-tuc/app-chuyen-phat-nhanh.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi hàng chuyển phát nhanh trên app<span class='news-time'>09/08/2018 - 10:02</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Điểm gửi hàng ECOTRANS tại HCM' href='https://ecotrans.vn/tin-tuc/diem-gui-hang-ecotrans-tai-hcm.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Điểm gửi hàng ECOTRANS tại HCM<span class='news-time'>28/07/2018 - 15:28</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Điểm gửi hàng ECOTRANS tại Hà Nội' href='https://ecotrans.vn/tin-tuc/diem-gui-hang-ecotrans-tai-ha-noi.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Điểm gửi hàng ECOTRANS tại Hà Nội<span class='news-time'>28/07/2018 - 15:17</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi chuyển phát đi Indonesia' href='https://ecotrans.vn/tin-tuc/gui-chuyen-phat-di-indonesia.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi chuyển phát đi Indonesia<span class='news-time'>26/07/2018 - 14:10</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Tiết kiệm chi phí chuyển hàng' href='https://ecotrans.vn/tin-tuc/tiet-kiem-chi-phi-chuyen-hang.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-36x36.jpg" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-36x36.jpg 36w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-80x80.jpg 80w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-180x180.jpg 180w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-120x120.jpg 120w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Tiết kiệm chi phí chuyển hàng<span class='news-time'>26/07/2018 - 13:54</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Giao hàng nhanh thị trường cạnh tranh' href='https://ecotrans.vn/tin-tuc/giao-hang-nhanh-thi-truong-canh-tranh.html'><span class='news-thumb no-news-thumb'></span><strong class='news-headline'>Giao hàng nhanh thị trường cạnh tranh<span class='news-time'>26/07/2018 - 13:51</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Kinh doanh online bài toán &#8220;giao hàng chặng cuối&#8221;' href='https://ecotrans.vn/tin-tuc/kinh-doanh-online-bai-toan-giao-hang-chang-cuoi.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/toi-uu-trai-nghiem-khach-hang-36x36.jpg" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/toi-uu-trai-nghiem-khach-hang-36x36.jpg 36w, https://ecotrans.vn/wp-content/uploads/2018/07/toi-uu-trai-nghiem-khach-hang-80x80.jpg 80w, https://ecotrans.vn/wp-content/uploads/2018/07/toi-uu-trai-nghiem-khach-hang-180x180.jpg 180w, https://ecotrans.vn/wp-content/uploads/2018/07/toi-uu-trai-nghiem-khach-hang-120x120.jpg 120w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Kinh doanh online bài toán &#8220;giao hàng chặng cuối&#8221;<span class='news-time'>26/07/2018 - 13:45</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi hàng đi Đà Nẵng' href='https://ecotrans.vn/tin-tuc/gui-hang-di-da-nang.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi hàng đi Đà Nẵng<span class='news-time'>26/07/2018 - 11:18</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi hỏa tốc Hà Nội đi Đà Nẵng' href='https://ecotrans.vn/tin-tuc/gui-hoa-toc-ha-noi-di-da-nang.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/ECOTRANS-HNDANANG-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi hỏa tốc Hà Nội đi Đà Nẵng<span class='news-time'>26/07/2018 - 10:51</span></strong></a></li></ul><span class="seperator extralight-border"></span></section><section id="media_image-2" class="widget clearfix widget_media_image"><a href="https://khachhang.ecotrans.vn/register" target="_blank"><img width="503" height="471" src="https://ecotrans.vn/wp-content/uploads/2017/12/noi_thanh_15k.jpg" class="image wp-image-3170  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" srcset="https://ecotrans.vn/wp-content/uploads/2017/12/noi_thanh_15k.jpg 503w, https://ecotrans.vn/wp-content/uploads/2017/12/noi_thanh_15k-300x281.jpg 300w, https://ecotrans.vn/wp-content/uploads/2017/12/noi_thanh_15k-450x421.jpg 450w" sizes="(max-width: 503px) 100vw, 503px" /></a><span class="seperator extralight-border"></span></section></div></aside>
        </div><!--end container-->

    </div><!-- close default .container_wrap element -->

    </div>

