
@{
    ViewBag.Title = "Introduce";
}
<!-- Inner Header -->
<section class="section-padding bg-dark inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-white">Giới thiệu về MN POST</h1>
                <div class="breadcrumbs">
                    <p class="mb-0 text-white"><a class="text-white" href="/home/index">Trang chủ</a>  /  <span class="text-success">Giới thiệu</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inner Header -->
<!-- About -->
<section class="section-padding bg-white">
    <div class="container">
        <div class="row">

            <div class="pl-4 col-lg-5 col-md-5 pr-4">
                <img class="rounded img-fluid" src="/Content/img/icon/logo.jpg" alt="Card image cap">
            </div>
            <div class="col-lg-6 col-md-6 pl-5 pr-5">
                <h2 class="mt-5 mb-5">We Provide Lovable Experiment in the Real<br> Estate Field</h2>
                <h5 class="mt-2">Our Vision</h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                <h5 class="mt-4">Our Goal</h5>
                <p>When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
            </div>
        </div>

    </div>
</section>
<!-- End About -->
<!-- Trusted Agents -->
<section class="section-padding">
    <div class="section-title text-center mb-5">
        <h2>Chúng tôi cung cấp những gì cho bạn?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/number1.png" alt="">
                    <h5 class="mb-0 text-success">Khách hàng là ưu tiên hàng đầu</h5>
                    <p class="mb-4">Với tiêu chí phục vụ khách hàng một cách tốt nhất, đem lại sự hài lòng</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/staff.png" alt="">
                    <h5 class="mb-0 text-success">Đội ngũ nhân viên</h5>
                    <p class="mb-4">Với đội ngũ nhân viên hùng hậu luôn phục vụ với sự tận tình</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/vision.png" alt="">
                    <h5 class="mb-0 text-success">Tầm nhìn của chúng tôi</h5>
                    <p class="mb-4">Với mục tiêu trở thành một trong những dịch vụ giao hàng tốt nhất cả nước</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/fast.png" alt="">
                    <h5 class="mb-0 text-success">Đúng thời gian</h5>
                    <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/support.png" alt="">
                    <h5 class="mb-0 text-success">Hỗ trợ hết mình</h5>
                    <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <h5 class="mb-0 text-success">CHUYÊN NGHIỆP</h5>
                    <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Trusted Agents -->
