
@{
    ViewBag.Title = "NormalTransportation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Main Slider With Form -->
<section class="osahan-slider slider-h-auto">
    <div id="osahanslider" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('/Content/img/slider/2.jpg')">
                <div class="overlay"></div>
                <div class="section-padding">
                    <div class="container banner-list pl-5 pr-5">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <h1 class="mt-5 mb-4 text-white">Dịch vụ chuyển phát thường</h1>
                                <h6 class="mb-5 text-white">Vivamus luctus egestas convallis. Vestibulum arcu sapien,<br> consequat a urna a, gravida molestie est. Mauris iaculis felis id elit laoreet,<br> vitae blandit odio lacinia. Etiam viverra arcu lobortis semper posuere. Curabitur mattis a erat at ultricies. Duis ac porta est</h6>
                                @*<button class="btn btn-success" type="button">Contact Us</button>
                                    <button class="btn btn-outline-success" type="button">Read More</button>*@
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="card card-list mb-0 box-shadow-none">
                                    <a href="#">
                                        <span class="badge badge-success">For Sale</span>
                                        <img class="card-img-top" src="/Content/img/list/1.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">House in Kent Street</h5>
                                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i> 127 Kent Sreet, Sydny, NEW 2000</h6>
                                            <h2 class="text-success mb-0 mt-3">
                                                $130,000 <small>/month</small>
                                            </h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Main Slider With Form -->
<!-- Agency Profile -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <img class="rounded img-fluid" src="/Content/img/fast.jpg" alt="Card image cap">
            </div>
            <div class="col-lg-7 col-md-7">
                <h1 class="mt-2 mb-0">CHUYỂN PHÁT NHANH</h1>
                <h5 class="text-success mb-3">
                    <i class="mdi mdi-home-map-marker"></i>
                    Nhanh chóng - Tiện lợi - An toàn
                </h5>
                <p>Dịch vụ chuyển phát nhanh của MN POST với những đặc điểm nổi bật sẽ làm hài lòng tất cả khách hàng trên mọi phương diện</p>
                <div class="row mt-3">
                    <div class="col-lg-6 col-md-6">
                        <p><strong class="text-dark">Phone :</strong> +91 12345-67890</p>
                        <p><strong class="text-dark">Mobile :</strong> (+20) 220 145 6589</p>
                        <p><strong class="text-dark">Email :</strong> iamosahan@gmail.com</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p><strong class="text-dark">Website :</strong> www.askbootstrap.com</p>
                        <p><strong class="text-dark">Properties Listed :</strong> 15</p>
                        <p><strong class="text-dark">License  :</strong> RE511U0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Agency Profile -->
<!-- Properties by City -->
<section class="section-padding bg-white">
    <div class="section-title text-center mb-5">
        <h2>Chúng tôi có mặt trên kháp tỉnh thành</h2>
        <p>Trải dài từ miền bắc vào miền nam</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hcm.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">TP. Hồ Chí Minh</h3>
                            <p class="card-text text-white">4 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hn.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Hà Nội</h3>
                            <p class="card-text text-white">3 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/dn.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Đà Nẵng</h3>
                            <p class="card-text text-white">2 Chi nhánh</p>
                        </div>
                    </a>
                    .
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hue.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Huế</h3>
                            <p class="card-text text-white">2 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Properties by City -->
<!-- Trusted Agents -->
<section class="section-padding">
    <div class="section-title text-center mb-5">
        <h2>Vì sao nên tin tưởng chúng tôi?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                    <h6 class="mb-0 text-success">CHUYÊN NGHIỆP</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Thời gian giao hàng nhanh chóng và dễ dàng theo dõi lịch trình kiện hàng.</p>
                    <h6 class="mb-0 text-success">NHANH CHÓNG</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Kiện hàng được giao tới đúng thời gian và hoàn toàn không bị trầy xướt.</p>
                    <h6 class="mb-0 text-success">ĐÁNG TIN CẬY</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Trusted Agents -->
<!-- Join Team -->
<section class="section-padding bg-dark text-center">
    <h2 class="text-white mt-0">Tham gia cùng bạn trên mọi chuyến hàng <br /> một cách nhanh chóng và chính xác</h2>
    <p class="text-white mb-4">Đó chính là tiêu chí của chúng tôi</p>
    <button type="button" class="btn btn-success">Liên hệ với chúng tôi</button>
</section>
<!-- End Join Team -->
