
@{
    ViewBag.Title = "AddMenu";
}
<!-- Inner Header -->
<section class="section-padding bg-dark inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-white">Chỉnh sửa trang</h1>
                <div class="breadcrumbs">
                    <p class="mb-0 text-white"><a class="text-white" href="/home/index">Trang chủ</a>  /  <span class="text-success">Chỉnh sửa trang</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inner Header -->
<!-- Properties List -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card sidebar-card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Chỉnh sửa trang</h5>
                        <a href="/setting/addmenu"><h6 class="text-success">- Thêm mục trong Menu</h6></a>
                        <hr>
                        <a href="#"><h6>- Xóa mục trong Menu</h6></a>
                        <hr>
                        <a href="#"><h6>- Thêm mục Submenu</h6></a>
                        <hr>
                        <a href="#"><h6>- Xóa mục Submenu</h6></a>
                        <hr>
                        <a href="#"><h6>- Chỉnh sửa trang About Us</h6></a>
                        <hr>
                        <a href="#"><h6>- Thêm thông tin</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Properties List -->

