@model IEnumerable<MNPOSTWEBSITEMODEL.WS_ServiceType>
@{
    ViewBag.Title = "ManageService";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    string check = "check";
    int i = 1;
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Danh sách dịch vụ</h3>
        <div class="row">

            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Các dịch vụ chính</h4>
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i>ID</th>
                                    <th><i class="fa fa-dropbox"></i>Tên dịch vụ</th>
                                    <th><i class="fa fa-eye">Ẩn</i></th>
                                    <th><i class="fa fa-edit"></i> Chỉnh sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    @if (item.Hide == true)
                                    {

                                        check += i.ToString();
                                        <td>
                                            <form action="/manage/HideService" method="post">
                                                <input type="text" value="false" name="@check" style="display:none" />
                                                <button class="btn btn-primary btn-xs" >Hiện</button>
                                            </form>
                                        </td>
                                    }
                                    else
                                    {
                                        check += i.ToString();
                                        <td>
                                            <form action="/manage/HideService" method="post">
                                                <input type="text" value="true" name="@check" style="display:none" />
                                                <button class="btn btn-primary btn-xs">Ẩn</button>
                                            </form>
                                        </td>
                                    }
                                    <td>
                                        <form action="/manage/editservice/@item.ID">
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                        check = check.Remove(check.Length - 1);
                                        i++;
                                    }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->                  
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->


