@{
    ViewBag.Title = "Show";
}


<div class="row" ng-app="myApp" ng-controller="myCtrl">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quản lý vận đơn</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Mã vận đơn</label>
                        <input type="text" maxlength="10" class="form-control" />
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Bưu cục</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Từ ngày</label>
                        <input type="text" class="form-control" data-inputmask="'mask': '99/99/9999'">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Đến ngày</label>
                        <input type="text" class="form-control" data-inputmask="'mask': '99/99/9999'">
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>


@section scripts {
    <!-- jquery.inputmask -->
    <script src="~/Content/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <script>
        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'myKeyPress']);
        $(":input").inputmask();
        app.controller('myCtrl', function ($scope, $http) {

        });
    </script>
}