@{
    ViewBag.Title = "Init";
}

<div ng-app="myApp">

    <!-- begin myCtrl-->
    <div class="row" ng-controller="myCtrl">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mới vận đơn&nbsp;&nbsp;&nbsp;<a href="#" ng-click="createMailerDetail()"><i my-tool-tip="Thêm từ chi tiết" class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;<a href="#" ng-click=""><i my-tool-tip="Thêm từ excel" class="fa fa-file-excel-o"></i></a> &nbsp;&nbsp;&nbsp;<a href="#" ng-click="addNewMailer()"><i my-tool-tip="Thêm dòng mới" class="fa fa-plus"></i></a></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- table data-->
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action scrollmenu">
                            <thead>
                                <tr class="headings">
                                    <th>STT</th>
                                    <th>Mã vận đơn</th>
                                    <th>Mã người gửi</th>
                                    <th>Người gửi</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ gửi</th>
                                    <th>Tỉnh thành gửi</th>
                                    <th>Quận huyện gửi</th>
                                    <th>Phường xã gửi</th>
                                    <th>Người nhận</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ nhận</th>
                                    <th>Tỉnh thành nhận</th>
                                    <th>Quận huyện nhận</th>
                                    <th>Phường xã nhận</th>
                                    <th>Dịch vụ</th>
                                    <th>Hình thức thanh toán</th>
                                    <th>Trọng lượng</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in mailers">
                                    <td class="tablestt">
                                        {{$index + 1}}&nbsp;&nbsp;
                                        <a href="#"><i my-tool-tip="Chỉnh sửa" class="fa fa-pencil-square"></i></a>&nbsp;&nbsp;
                                        <a href="#" ng-click="removeMailer($index)"><i my-tool-tip="Xóa" class="fa fa-minus-square"></i></a>&nbsp;&nbsp;
                                        <a href="#" ng-click="copyMailer($index)"><i my-tool-tip="Copy" class="fa fa-copy"></i></a>
                                    </td>
                                    <td><input type="text" ng-model="item.MailerID" class="tableinput" my-key-cltr-k="getMailerCode($index)" /></td>
                                    <td>
                                        <select ng-model="item.SenderID" class="tableinput" ng-change="changeCus($index)">
                                            <option ng-repeat="item in customers" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td><input type="text" ng-model="item.SenderName" class="tableinput" /></td>
                                    <td><input type="text" ng-model="item.SenderPhone" class="tableinput" /></td>
                                    <td><input type="text" ng-model="item.SenderAddress" class="tableinput" typeahead-on-select="onSelectAddress($item, $model, $label, $index, 'send')" typeahead-on-select="fillAddress()" uib-typeahead="address.formatted_address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" /></td>
                                    <td><input type="text" ng-model="item.SenderProvinceID" class="tableinput" disabled /></td>
                                    <td><input type="text" ng-model="item.SenderDistrictID" class="tableinput" disabled /></td>
                                    <td><input type="text" ng-model="item.SenderWardID" class="tableinput" disabled /></td>
                                    <td><input type="text" ng-model="item.RecieverName" class="tableinput" /></td>
                                    <td><input type="text" ng-model="item.RecieverPhone" class="tableinput" /></td>
                                    <td><input type="text" ng-model="item.RecieverAddress" class="tableinput" typeahead-on-select="onSelectAddress($item, $model, $label,$index, 'receive')" uib-typeahead="address.formatted_address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" /></td>
                                    <td><input type="text" ng-model="item.RecieverProvinceID" class="tableinput" disabled /></td>
                                    <td><input type="text" ng-model="item.RecieverDistrictID" class="tableinput" disabled /></td>
                                    <td><input type="text" ng-model="item.RecieverWardID" class="tableinput" disabled /></td>
                                    <td>
                                        <select ng-model="item.MailerTypeID" class="tableinput">
                                            <option ng-repeat="item in mailerTypes" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="item.PaymentMethodID" class="tableinput">
                                            <option ng-repeat="item in payments" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td><input type="number" ng-model="item.Weight" class="tableinput" /></td>
                                    <td><input type="number" ng-model="item.Quantity" class="tableinput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end myCtrl-->
    <!-- begin ctrlAddDetail -->
    <div ng-controller="ctrlAddDetail" id="ctrlAddDetail">
        <div id="insertmodal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">

                    <!-- begin form-->
                    <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row  modal-title">
                                <div class="col-sm-3">
                                    <input type="text" ng-model="mailer.MailerID" class="form-control" placeholder="Mã vận đơn" />
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="x_title">
                                        <h2><i class="fa fa-align-left"></i> Thông tin người gửi</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Mã người gửi</label>
                                        <select ng-model="mailer.SenderID" class="form-control" ng-change="changeCus($index)">
                                            <option ng-repeat="item in customers" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên người gửi</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderName" />
                                    </div>

                                    <div class="form-group">
                                        <label>Điện thoại</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderPhone" />
                                    </div>

                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderAddress" id="autocompleteSend" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tỉnh thành</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderProvinceID" />
                                    </div>
                                    <div class="form-group">
                                        <label>Quận huyện</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderDistrictID" />
                                    </div>
                                    <div class="form-group">
                                        <label>Phường xã</label>
                                        <input type="text" class="form-control" ng-model="mailer.SenderWardID" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="x_title">
                                        <h2><i class="fa fa-align-left"></i> Thông tin người nhận</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên người gửi</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverName" />
                                    </div>

                                    <div class="form-group">
                                        <label>Điện thoại</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverPhone" />
                                    </div>

                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverAddress" id="autocompleteRecei" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tỉnh thành</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverProvinceID" />
                                    </div>
                                    <div class="form-group">
                                        <label>Quận huyện</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverDistrictID" />
                                    </div>
                                    <div class="form-group">
                                        <label>Phường xã</label>
                                        <input type="text" class="form-control" ng-model="mailer.RecieverWardID" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="x_title">
                                        <h2><i class="fa fa-align-left"></i> Thông tin hàng gửi</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Dịch vụ</label>
                                        <select ng-model="item.MailerTypeID" class="form-control">
                                            <option ng-repeat="item in mailerTypes" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Hình thức thanh toán</label>
                                        <select ng-model="item.PaymentMethodID" class="form-control">
                                            <option ng-repeat="item in payments" value="{{item.code}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Nội dung hàng</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tiền thu (CoD)</label>
                                        <input type="number" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Giá trị hàng hóa</label>
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Kích thước</label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" placeholder="Dài" />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" placeholder="Rộng" />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" placeholder="Cao" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Số lượng</label>
                                                    <input type="number" class="form-control" placeholder="Cao" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Trọng lượng</label>
                                                    <input type="number" class="form-control" placeholder="Cao" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Dịch vụ cộng thêm</label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="mailer.PriceService">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" ng-model="showChoose">
                                                    </span>
                                                </div>
                                                {{mailer.PriceService | currency:"VND"}}
                                            </div>
                                            <div class="col-sm-8" ng-show="showChoose">
                                                <div class="serviceMorePrice">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="opt in otherServices">
                                                                <td><input type="checkbox" ng-model="opt.choose" ng-change="addSeviceMorePrice()"></td>
                                                                <td>{{opt.name}}</td>
                                                                <td><input type="number" ng-model="opt.price" ng-change="addSeviceMorePrice()" />&nbsp;&nbsp;{{opt.price | currency:"VND"}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="x_title">
                                        <h2><i class="fa fa-align-left"></i>Thành tiền</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Cước chính</label>
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Cước CoD</label>
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tổng cước</label>
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>

                            </div>


                        </div>

                        <!-- begin footer-->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Hoàn thành</button>
                        </div>
                        <!-- end footer-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end ctrlAddDetail-->



</div> <!-- end ng-app-->
@section styles {

    <style type="text/css">
        .scrollmenu {
            overflow: auto;
            white-space: nowrap;
        }

        .tableinput {
            text-align: left;
            width: 150px;
            height: 30px;
        }

        .tablestt {
            text-align: center;
            font-size: large;
        }

        .serviceMorePrice {
            height: 200px;
            overflow: auto;
            border: 1px solid green;
        }
    </style>


}

@section scripts {
    <!-- FastClick -->
    <script type="text/javascript">

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'myKeyPress']);

        app.service('mailerService', function () {
            var mailerList = [];

            var mailer = {};

            var actionEdit = true;

            var addMailer = function (newObj) {
                mailerList.unshift(newObj);
            };

            var addNewMailer = function () {
                mailerList.unshift(getNewMailer());
            }

            var getNewMailer = function () {
                return {
                    'MailerID': '', 'SenderID': '', 'SenderName': '', 'SenderAddress': '', 'SenderWardID': '', 'SenderDistrictID': '', 'SenderProvinceID': '', 'SenderPhone': '', 'RecieverName': ''
                , 'RecieverAddress': '', 'RecieverWardID': '', 'RecieverDistrictID': '', 'RecieverProvinceID': '', 'RecieverPhone': '', 'Weight': '', 'Quantity': '', 'ServiceID': '', 'PaymentMethodID': 'NGTT', 'MailerTypeID': 'CPN', 'ServiceMorePrice' : 0
                };
            }


            var getMailerCurrent = function () {
                return mailer;
            }
            var getActionEdit = function () {
                return actionEdit;
            }

            var getMailers = function () {
                return mailerList;
            };

            var addMailerDetail = function () {
                mailer = angular.copy(getNewMailer());
                actionEdit = false;

            };

            var removeMailer = function (idx) {
                mailerList.splice(idx, 1);
            }

            var customers = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.Customers)));

            var mailerTypes = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.MailerTypes)));

            var payments = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.Payments)));


            var getCustomers = function () {
                return customers;
            };

            var getMailerTypes = function () {
                return mailerTypes;
            }

            var getPayments = function () {
                return payments;
            }

            var findCustomer = function (code) {
                for (var i = 0; i < customers.length; i++)
                    if (customers[i].code == code)
                        return customers[i];
                return null;
            }



            return {
                addMailer: addMailer,
                getMailers: getMailers,
                addNewMailer: addNewMailer,
                removeMailer: removeMailer,
                getCustomers: getCustomers,
                getMailerTypes: getMailerTypes,
                getPayments: getPayments,
                findCustomer: findCustomer,
                addMailerDetail: addMailerDetail,
                getMailerCurrent: getMailerCurrent,
                getActionEdit: getActionEdit
            };

        });

        app.controller('myCtrl', function ($scope, $http, mailerService) {

            $scope.mailers = mailerService.getMailers();
            $scope.customers = mailerService.getCustomers();
            $scope.mailerTypes = mailerService.getMailerTypes();
            $scope.payments = mailerService.getPayments();

            $scope.addNewMailer = function () {
                mailerService.addNewMailer();
            }

            $scope.removeMailer = function (idx) {
                mailerService.removeMailer(idx);
            }

            $scope.copyMailer = function (idx) {
                var mailer = angular.copy($scope.mailers[idx]);
                mailerService.addMailer(mailer);
            }

            $scope.changeCus = function (idx) {
                var mailer = $scope.mailers[idx];

                var cus = mailerService.findCustomer(mailer.SenderID);

                if (cus) {
                    $scope.mailers[idx].SenderName = cus.name;
                    $scope.mailers[idx].SenderPhone = cus.phone;
                    $scope.mailers[idx].SenderProvinceID = cus.provinceId;
                    $scope.mailers[idx].SenderAddress = cus.address;
                    $scope.mailers[idx].SenderDistrictID = cus.districtId;
                    $scope.mailers[idx].SenderWardID = cus.wardId;
                }
            }

            $scope.getLocation = function (val) {
                return $http.get('//maps.googleapis.com/maps/api/geocode/json?components=country:VN', {
                    params: {
                        address: val,
                        sensor: false
                    }
                }).then(function (response) {
                    return response.data.results.map(function (item) {
                        return item;
                    });
                });
            };

            $scope.onSelectAddress = function ($item, $model, $label, idx, type) {
                console.log($item);
                var result = handleAutoCompleteAddress($item);

                console.log(result);

                var url = "/MailerInit/GetProvinceFromAddress?province=" + result.administrative_area_level_1 + "&district=" + result.administrative_area_level_2 + "&ward=" + result.political;

                $http.get(url).then(function (response) {

                    if (type === "send") {
                        $scope.mailers[idx].SenderProvinceID = response.data.provinceId;
                        $scope.mailers[idx].SenderDistrictID = response.data.districtId;
                        $scope.mailers[idx].SenderWardID = response.data.wardId;
                    } else {
                        $scope.mailers[idx].RecieverProvinceID = response.data.provinceId;
                        $scope.mailers[idx].RecieverDistrictID = response.data.districtId;
                        $scope.mailers[idx].RecieverWardID = response.data.wardId;
                    }


                });
            };

            $scope.getMailerCode = function (idx) {
                var mailer = $scope.mailers[idx];
                console.log(mailer);
                if (mailer.MailerID === "") {
                    var url = "/MailerInit/GeneralCode?cusId=" + mailer.SenderID;

                    $http.get(url).then(function (response) {

                        $scope.mailers[idx].MailerID = response.data.code;

                    });
                } else {
                    showNotify('Xóa mã đang nhập nếu muốn tạo mới');
                }

            }


            $scope.createMailerDetail = function () {

                mailerService.addMailerDetail();

                showModel('insertmodal');

            };

        });


        app.controller('ctrlAddDetail', function ($scope, $http, mailerService) {

            $scope.customers = mailerService.getCustomers();
            $scope.mailerTypes = mailerService.getMailerTypes();
            $scope.payments = mailerService.getPayments();
            $scope.otherServices = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.Services)));
            $scope.mailer = mailerService.getMailerCurrent();

            $scope.actionEdit = mailerService.getActionEdit();

            $scope.addSeviceMorePrice = function () {
                var total = 0;
                for (var i = 0; i < $scope.otherServices.length; i++)
                {
                    if ($scope.otherServices[i].choose) {
                        total = total + $scope.otherServices[i].price;
                    }
                }
                console.log(total);
                $scope.mailer.PriceService = total;
            }


            $scope.getAddressDetailInfo = function (url, type, address) {

                $http.get(url).then(function (response) {

                    if (type === "send") {
                        $scope.mailer.SenderAddress = address;
                        $scope.mailer.SenderProvinceID = response.data.provinceId;
                        $scope.mailer.SenderDistrictID = response.data.districtId;
                        $scope.mailer.SenderWardID = response.data.wardId;
                    } else {
                        $scope.mailer.RecieverAddress = address;
                        $scope.mailer.RecieverProvinceID = response.data.provinceId;
                        $scope.mailer.RecieverDistrictID = response.data.districtId;
                        $scope.mailer.RecieverWardID = response.data.wardId;
                    }


                });
            }

        });


        var autocompleteSend;
        var autocompleteRecei;

        function fillInAddressSend() {

            var place = autocompleteSend.getPlace();

           // document.getElementById('autocompleteSend').value = place.formatted_address;

            var result = handleAutoCompleteAddress(place);

            var url = "/MailerInit/GetProvinceFromAddress?province=" + result.administrative_area_level_1 + "&district=" + result.administrative_area_level_2 + "&ward=" + result.sublocality_level_1;

            angular.element(document.getElementById('ctrlAddDetail')).scope().getAddressDetailInfo(url, 'send', place.formatted_address);

        }

        function fillInAddressRecei() {

            var place = autocompleteRecei.getPlace();
            var result = handleAutoCompleteAddress(place);

            var url = "/MailerInit/GetProvinceFromAddress?province=" + result.administrative_area_level_1 + "&district=" + result.administrative_area_level_2 + "&ward=" + result.sublocality_level_1;

            angular.element(document.getElementById('ctrlAddDetail')).scope().getAddressDetailInfo(url, 'recei', place.formatted_address);

        }

        function init() {
            autocompleteSend = new createAutoCompleteAddress('autocompleteSend', fillInAddressSend);
            autocompleteRecei = new createAutoCompleteAddress('autocompleteRecei', fillInAddressRecei);
        }


    </script>
}
