@{
    ViewBag.Title = "Home Page";
}

<!-- page content -->


<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách quốc gia</h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content" id="showpdf">
                <canvas id="the-canvas"></canvas>
            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>
</div>


@section styles {
    <style>
        .pdfobject-container {
            height: 600px;
            border: 1rem solid rgba(0,0,0,.1);
        }
    </style>

}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script src="~/Scripts/pdfobject.js"></script>


    <script>

        // var myPDF = PDFObject.embed("/report/Index?mailerId=N14111800001", "#showpdf");
        // header on that server.
        var url = '/report/Index?mailerId=N14111800001';

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.worker.js';

        // Asynchronous download of PDF
        var loadingTask = pdfjsLib.getDocument(url);
        loadingTask.promise.then(function (pdf) {
            console.log('PDF loaded');

            // Fetch the first page
            var pageNumber = 1;
            pdf.getPage(pageNumber).then(function (page) {
                console.log('Page loaded');

                var scale = 1.5;
                var viewport = page.getViewport(scale);

                // Prepare canvas using PDF page dimensions
                var canvas = document.getElementById('the-canvas');
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                var renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);
                renderTask.then(function () {
                    console.log('Page rendered');
                });
            });
        }, function (reason) {
            // PDF loading error
            console.error(reason)
        });
    </script>

}