
@{
    ViewBag.Title = "Send";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Gửi thông báo</h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <div class="row">
                    <!-- search-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="searchText" my-enter="GetData(1,searchText)" />
                        </div>
                    </div>
                    <!-- search-->
                </div>

            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>

</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'myKeyPress']);

        app.controller('myCtrl', function ($scope, $http) {

            // phan trang
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };


            // lay du lieu
            $scope.allCountry = [];
            $scope.GetData = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/country/getcountry?page=" + page + "&search=" + search
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allCountry = response.data.data;
                        $scope.itemPerPage = response.data.pageSize;
                        $scope.totalItems = response.data.toltalSize;
                        $scope.numPages = Math.round($scope.totalItems / $scope.itemPerPage);

                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            // goi lay du liẹu

        });
        //-- end controller

    </script>
}



